<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>
</head>
<body>
    <h1>Add a new employee:</h1>
    <form action="/insert" method="post">

        <label for="eID">Employee ID:</label>
        <input type="text" id="eID" name="eID">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name">

        <label for="department">Department:</label>
        <input type="text" id="department" name="department">

        <button type="submit">Submit</button>
    </form>

    <h1>See all employees:</h1>
    <button onclick="read()">Read</button>

    <h1>Delete an employee:</h1>
    <form action="/delete" method="post">
        <label for="eID">Employee ID:</label>
        <input type="text" id="eID" name="eID">
        <button type="submit">Submit</button>
    </form>

    <script>
        function read() {
            fetch('/read')
                .then(response => response.text())
                .then(data => alert(data));
        }
    </script>
</body>
</html>